(
    skyboxes: [
        (
            tag: "starfield1",
            path: "skybox/skybox4",
        ),
    ],

	geometry: [
		(
			tag: "sa23",
			path: "sa23/sa23.glb",
		),
		(
			tag: "shadow.fighter",
			path: "shadows/shadow.fighter.glb",

		),

		/*
		(
			tag: "eas_omega",
			path: "omega/eas_omega.glb",
		),
		*/

		(
			tag: "r73r27",
			path: "missiles/R27R73.glb",
		),

        (
            tag: "Babylon5_empty",
            path: "b5/babylon5.glb",
        ),
        (
            tag: "accessories",
            path: "accessories/accessories.glb",
        )
        
	]
)
