(
    instance_count: 32,
    mass: 40000.0,
    linear_damping: 1.0,
    angular_damping: 1.0,
    position: [
        0.0,
        10.0,
        10.0,
    ],
    orientation: [
        0.0,
        0.0,
        0.0,
    ],
)