(
    fm: (
        mass: 23000.0,
        linear_damping: 1.0,
        angular_damping: 1.0,
        throttle_sensitivity: 0.5,
        thruster_force_primary: 5750.0,
        thruster_force_secondary: 500.0,
        thruster_force_vectors: (
            [
                0.0,
                0.0,
                -1.0,
            ],
            [
                0.0,
                -1.0,
                0.0,
            ],
            [
                1.0,
                0.0,
                0.0,
            ],
            [
                0.0,
                0.0,
                1.0,
            ],
            [
                0.0,
                0.0,
                -1.0,
            ],
            [
                0.0,
                -1.0,
                0.0,
            ],
            [
                -1.0,
                0.0,
                0.0,
            ],
            [
                0.0,
                0.0,
                1.0,
            ],
            [
                0.0,
                0.0,
                -1.0,
            ],
            [
                0.0,
                1.0,
                0.0,
            ],
            [
                1.0,
                0.0,
                0.0,
            ],
            [
                0.0,
                0.0,
                1.0,
            ],
            [
                0.0,
                0.0,
                -1.0,
            ],
            [
                0.0,
                1.0,
                0.0,
            ],
            [
                -1.0,
                0.0,
                0.0,
            ],
            [
                0.0,
                0.0,
                1.0,
            ],
        ),
        maneuver: (
            roll: (
                left: [
                    UpperLeftFront,
                ],
                right: [
                    LowerRightBack,
                ],
            ),
            pitch: (
                down: [
                    LowerRightRight,
                ],
                up: [
                    UpperLeftLeft,
                ],
            ),
            yaw: (
                right: [
                    LowerRightDown,
                ],
                left: [
                    UpperLeftUp,
                ],
            ),
            movement: (
                forward: UpperRightBack,
                backward: UpperLeftFront,
                right: UpperRightRight,
                left: UpperLeftLeft,
            ),
        ),
    ),
    weapons: (
        guns_cooldown: 0.125,
        gun_ports: (
            lower_left: [
                0.19122,
                -0.3282,
                2.0,
            ],
            lower_right: [
                -0.19122,
                -0.3282,
                2.0,
            ],
        ),
       laser: (
            speed: 0.25,
            mass: 1.0,
            lifetime: 4.0,
        ),
    ),
)
