(
    mass: 23000.0,
    thruster_force_primary: 10000.0,
    thruster_force_secondary: 2500.0,
    thruster_force_vectors: (
        [
            0.0,
            0.0,
            -1.0,
        ],
        [
            0.0,
            -1.0,
            0.0,
        ],
        [
            1.0,
            0.0,
            0.0,
        ],
        [
            0.0,
            0.0,
            1.0,
        ],
        [
            0.0,
            0.0,
            -1.0,
        ],
        [
            0.0,
            -1.0,
            0.0,
        ],
        [
            -1.0,
            0.0,
            0.0,
        ],
        [
            0.0,
            0.0,
            1.0,
        ],
        [
            0.0,
            0.0,
            -1.0,
        ],
        [
            0.0,
            1.0,
            0.0,
        ],
        [
            1.0,
            0.0,
            0.0,
        ],
        [
            0.0,
            0.0,
            1.0,
        ],
        [
            0.0,
            0.0,
            -1.0,
        ],
        [
            0.0,
            1.0,
            0.0,
        ],
        [
            -1.0,
            0.0,
            0.0,
        ],
        [
            0.0,
            0.0,
            1.0,
        ],
    ),
)